.star-rating {
    display: inline-block;
    font-size: 18px;
  }
  
  .star {
    color: #ccc;
  }
  
  .filled {
    color: gold;
  }
  
  .half-filled {
    position: relative;
    &:before {
      content: '\00bd';
      position: absolute;
      left: 0;
      color: gold;
    }
  }
  